/*
The globals.css specifies all fonts, tags and colors. Do NOT put layout
definitions into this file. They belong in-line within each component! Do not
EVER specify text, tag or color attributes within components. Rather add a new
definition for specific components below.
 */

/* Obligatory imports */
@use 'reset';

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=PT+Sans&display=swap');


/* Global variables */

/* AREA COLORS */
//
/* INDEX */
$background-color-index: #c2c2c2;
$text-color-index: #373621; // 5
$text-color-index-heading: #3f3c06; // 6

/* CODE */
$background-color-code: #c4c4c4;
$text-color-code: #302e13; // 5b
$text-color-code-heading: #403d0c; // 6b

/* PROJECT */
$background-color-project: #c4c4c4;
$text-color-project: #112421; // 3b
$text-color-project-heading: #0b423a; // 4b

/* VISUAL */
$background-color-visual: #c4c4c4;
$text-color-visual: #240604; // 1
$text-color-visual-heading: #440a0a; // 2

/* OFFLINE */
$background-color-offline: #c4c4c4;
$text-color-offline: #19302c; // 3a
$text-color-offline-heading: #05372f; //4a
/* ADMIN */
$background-color-admin: #c2c2c2;
$text-color-admin: #2a2914; // 5a
$text-color-admin-heading: #322f01; // 6a


/* GLOBAL FONTS */
$font-headline: 'Arvo', serif;
$font-paragraph: 'PT Sans', sans-serif;

/* GLOBAL STYLES */
a {
  text-decoration: none;
  border-bottom:1px dotted;
}


/*
-- COMPONENT DEFINITIONS --
These classes should be used with the top level div in each component they
apply to. Reuse for various components if possible and do not override. Rather
copy, rename and use for whatever specific need.
*/

/* -- INDEX PAGE --*/
/* applies to the specifically index page ONLY */
.index {

  h2 {
    font-family: $font-headline;
    font-size: 26px;
  }

  h2 span {
    font-family: $font-headline;
    font-size: 75%;
    opacity: .8;
  }

  p {
    font-family: $font-paragraph;
    font-size: 18px;
  }

  &.index-top {
    background-color: $background-color-index;
    color: $text-color-index;

    h2, h2 span {
      color: $text-color-index-heading;
    }

    a {
      color: $text-color-index;
      opacity: .8;
    }
  }

  &.index-code {
    background-color: $background-color-code;
    color: $text-color-code;

    h2, h2 span {
      color: $text-color-code-heading;
    }

    a {
      color: $text-color-code;
      opacity: .8;
    }
  }

  &.index-visual {
    background-color: $background-color-visual;
    color: $text-color-visual;

    h2, h2 span {
      color: $text-color-visual-heading;
    }

    a {
      color: $text-color-visual;
      opacity: .8;
    }
  }

  &.index-project {
    background-color: $background-color-project;
    color: $text-color-project;

    h2, h2 span {
      color: $text-color-project-heading;
    }

    a {
      color: $text-color-project;
      opacity: .8;
    }
  }
}

/* relates to all styling when site is offline*/
.offline-pages {
  background-color: $background-color-offline;
  color: $text-color-offline;

  h2 {
    font-family: $font-headline;
    color: $text-color-offline-heading;
    font-size: 26px;
  }

  h2 span {
    font-family: $font-headline;
    color: $text-color-offline-heading;
    font-size: 75%;
    opacity: .8;
  }

  p {
    font-family: $font-paragraph;
    font-size: 18px;
  }

  a {
    color: $text-color-offline;
    opacity: .8;
  }
}



