/* Reset css */
@use 'reset.css';

/* --- MAIN --- */



/* --- ADMIN --- */

/* Under construction */
body {
  padding: 40px 0 0 0;
  width: 35em;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}


/* Offline */

#offline-logo {

}

#offline-text {

}

@media only screen and (max-width: 1000px) {

  #offline-logo {

  }

  #offline-text {

  }
}

@media only screen and (max-width: 800px) {

  #offline-logo {

  }


  #offline-text {

  }
}


