// $icon-color-index: #3f3c06;
$icon-color-index: #dddddd;
$icon-color-code: #dddddd;
$icon-color-project: #dddddd;
$icon-color-visual: #dddddd;
$icon-color-admin: #dddddd;

/* Exports to app */
:export {
  iconColorIndex: $icon-color-index;
  iconColorCode: $icon-color-code;
  iconColorVisual: $icon-color-visual;
  iconColorProject: $icon-color-project;
  iconColorAdmin: $icon-color-admin;
}
